
body {font-family: $bodyFont;}

h1 {color: $gray; padding: 0 20px;}

ul {margin: 0; padding: 0;}
li {height: 200px; width: 200px; overflow: hidden; border: solid 1px #ccc; margin: 20px; float: left; list-style: none;}