@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
body { font-family: "Inika", serif; background: #f2f2f2; }

h1 { color: #474747; padding: 0 20px; }

h2 { padding: 0 20px; color: #0cff00; }

ul { margin: 0; padding: 20px; }

li { width: 32%; overflow: hidden; margin-right: 2%; float: left; list-style: none; margin-bottom: 20px; opacity: 0.8; }

li:last-child { margin-right: 0; }

li:hover { opacity: 1; }

.full-image { margin: 0 20px; }

.full-image img { max-width: 100%; width: 100%; }
